defmodule AdventOfCode.<%= Calendar.strftime(date, "Y%Y.Day%d") %>Test do
  @moduledoc false

  use ExUnit.Case
  @moduletag :<%= Calendar.strftime(date, "y%y") %>
  @moduletag :<%= Calendar.strftime(date, "y%y%d") %>

  alias AdventOfCode.<%= Calendar.strftime(date, "Y%Y.Day%d") %>, as: Solution

  @sample_data ~S"""
  <%= example_data %>
  """

  <%= for part <- 1..2 do %>
  describe "part <%= part %>" do
    @describetag :<%= Calendar.strftime(date, "y%y%dp#{part}") %>
    @tag :<%= Calendar.strftime(date, "y%y%dp#{part}ex") %>
    test "example" do
      assert Solution.run(@sample_data, <%= part %>) == nil
    end

    @tag :<%= Calendar.strftime(date, "y%y%dp#{part}input") %>
    test "input file" do
      assert Solution.run(<%= part %>) == nil
    end
  end
  <% end %>
end
